---
import { profile } from "../../data/profile";
---

<section id="contact" class="contact container">

    <span class="section-tag">
        Contact
    </span>

    <h2>
        Let's Connect
    </h2>

    <p>
        I'm currently seeking graduate and entry-level IT opportunities.
        Feel free to reach out if you'd like to discuss opportunities,
        projects or collaboration.
    </p>

    <div class="contact-buttons">

        <a
            href={`mailto:${profile.email}`}
            class="btn btn-primary">

            Email Me

        </a>

        <a
            href={profile.linkedin}
            class="btn btn-secondary"
            target="_blank">

            LinkedIn

        </a>

        <a
            href={profile.github}
            class="btn btn-secondary"
            target="_blank">

            GitHub

        </a>

    </div>

</section>