---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<main class="container">

    <h1>Hello, Subash 👋</h1>

    <p>
        Welcome to your new portfolio.
    </p>

</main>

</BaseLayout>